extends ../index

block article
  //- - const joinTitleWithHtml = `<h1>${article.title}</h1>\n${rawHtml}`
  - const profileUrl = writer.profileImageUrl || '/image/avatar.png';
  - const subscriptionBtnClass = user && writer._id == user._id ? 'uk-button-disable' : 'uk-button-danger';

  div(style="width: 100%; margin: 40px; padding-bottom: 1px;")
  div(style="width: 40%; margin: 50px auto;")
    h1= article.title
    .uk-flex.uk-flex-middle
        img#big-profile.uk-comment-avatar(src=profileUrl, width='48px', alt='', style='border-radius: 50%;')
        .user-info(style='margin-left: 24px; display: inline-block')
          p.uk-flex.uk-flex.middle(style='color: black; font-size: 15px; margin: 0')
            a.black-font(href='/user/' + writer._id)= writer.email.split('@')[0]
            button#subscription-btn.uk-label.black-font(style='margin-left: 8px; font-size: 15px; background-color: white;') 구독
          p(style='color: black; font-size: 0.8em; margin: 0')= article.createdAt.toString().split(' ').slice(1,4).join('-')
  div(style="width: 100%")
    img(src= article.heroImageUrl)
  .container
    article.markdown-body.
      !{rawHtml}
    script(src='/js/vendor/prism.js')
