extends ../layouts/main

block show-articles
    // Page Content
    .container
        .row
            // Post Content Column
            .col-lg-8
                // Title
                h1.mt-4=article.title
                    if user.admin
                        p.pull-right
                        a.btn.btn-info(type='button', href='/articles/edit/' + article.id) Edit
                        form.col.s12(action='/articles/' + article.id + '?_method=DELETE', method='post', style='display: inline-block;')
                            input(type='hidden', name='_method', value='DELETE')
                            input(type='hidden', name='field', value=article.field)
                            button.btn.btn-danger(type='submit') Delete
                // Author
                p.lead
                    | by
                    a(href='#') Admin
                hr
                // Date/Time
                p= article.date
                hr
                // Preview Image
                img.img-fluid.rounded(src=article.image, alt='')
                hr
                // Post Content
                p.lead !{article.body}
                hr
                button(id='likes-button', onclick='actOnPost(event);', data-post-id= article.id)
                    if article.likesUser.filter((e) => e === user.id).length
                        | Unlike
                    else
                        | Like
                span(id=`likes-count-` + article.id) #{article.likes_count}
                hr
                // Comments Form
                .card.my-4
                    h5.card-header Leave a Comment:
                    .card-body
                        form(action='/articles/comment/' + article.id, method='post')
                            .form-group
                                textarea.form-control(rows='3', name='commentBody')
                            button.btn.btn-primary(type='submit') Submit
                each comment in article.comments
                    .media.mb-4
                        if comment.commentUser !== null
                            if JSON.stringify(comment.commentUser.github) !== JSON.stringify(({}))
                                img.d-flex.mr-3.rounded-circle(src= comment.commentUser.github.image)
                            if JSON.stringify(comment.commentUser.google) !== JSON.stringify(({}))
                                img.d-flex.mr-3.rounded-circle(src= comment.commentUser.google.image)
                        .media-body
                            if comment.commentUser !== null
                                if JSON.stringify(comment.commentUser.github) !== JSON.stringify(({}))
                                    h5.mt-0= comment.commentUser.github.name
                                if JSON.stringify(comment.commentUser.google) !== JSON.stringify(({}))
                                    h5.mt-0= comment.commentUser.google.name
                                if comment.commentUser.name !== undefined
                                    h5.mt-0= comment.commentUser.name
                                p= comment.commentBody
                                // Edit, Delete buttons
                                if user.id === comment.commentUser.id
                                    a.btn.btn-info(type='button', href='/articles/comment/' + comment.id) Edit
                                    form.col.s12(action='/articles/comment/' +article.id +'&'+ comment.id + '?_method=DELETE', method='post', style='display: inline-block;')
                                        input(type='hidden', name='_method', value='DELETE')
                                        input(type='hidden', name='field', value=article.field)
                                        button.btn.btn-danger(type='submit') Delete
                        if comment.commentUser !== null
                            small
                                | Posted: #{comment.commentDate}


        // /.row
    // /.container



